@page "/my-dashboard"

@using MySpotify.Portal.Web.Components
@using MySpotify.Portal.DataServices.Spotify.Api;
@using MySpotify.Portal.Models.ResponseModels;

@inject ISpotifyHttpServiceProvider SpotifyHttpServiceProvider

<style>
    .fancy-card {
        border-width: 2px;
        border-color: var(--mud-palette-primary);
        border-style: solid;
        padding: var(--custom-padding-medium) !important;
        margin: 16px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .fancy-card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
</style>

<MudContainer Class="ma-4">
    <MudGrid>
        <MudItem xs="6">
            @if (PlayListItems == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <FeaturedPlaylistsCard PlayListItems=@PlayListItems />
            }
        </MudItem>

        <MudFlexBreak />

        <MudItem xs="6">
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">Two</MudPaper>
        </MudItem>
        <MudItem xs="6">
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">Three</MudPaper>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    private IEnumerable<Item>? PlayListItems;

    protected override async Task OnInitializedAsync()
    {
        var service = await SpotifyHttpServiceProvider.GetServiceAsync<PlaylistResponse>()
            .ConfigureAwait(false);

        var playListResponse = await service.GetAsync("browse/featured-playlists")
            .ConfigureAwait(false);

        PlayListItems = playListResponse.Playlists!.Items!.Take(5);
    }
}